/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #2b6cb0;
  --ion-color-primary-rgb: 43, 108, 176;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #265f9b;
  --ion-color-primary-tint: #407bb8;

  /** secondary **/
  --ion-color-secondary: #4a5568;
  --ion-color-secondary-rgb: 74, 85, 104;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #414b5c;
  --ion-color-secondary-tint: #5c6677;

  /** tertiary **/
  --ion-color-tertiary: #3182ce;
  --ion-color-tertiary-rgb: 49, 130, 206;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #2b72b5;
  --ion-color-tertiary-tint: #468fd3;

  /** success **/
  --ion-color-success: #2f855a;
  --ion-color-success-rgb: 47, 133, 90;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #29754f;
  --ion-color-success-tint: #44916b;

  /** warning **/
  --ion-color-warning: #ed8936;
  --ion-color-warning-rgb: 237, 137, 54;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d17830;
  --ion-color-warning-tint: #ef954a;

  /** danger **/
  --ion-color-danger: #c53030;
  --ion-color-danger-rgb: 197, 48, 48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad2a2a;
  --ion-color-danger-tint: #cb4545;

  /** dark **/
  --ion-color-dark: #2d3748;
  --ion-color-dark-rgb: 45, 55, 72;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #28303f;
  --ion-color-dark-tint: #424b5a;

  /** medium **/
  --ion-color-medium: #718096;
  --ion-color-medium-rgb: 113, 128, 150;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #637184;
  --ion-color-medium-tint: #7f8da1;

  /** light **/
  --ion-color-light: #f7fafc;
  --ion-color-light-rgb: 247, 250, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d9dcde;
  --ion-color-light-tint: #f8fbfe;
}

body {
  --ion-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}
